__pycache__
.idea
.vscode
.gitattributes
calc.py
calculadoraDeNotas.py
.gitattributes
teste.py
besteira.py
2087_gpt.py
2087_teste.py
1690_gpt.py
1690_teste.py
1021_gpt.py
1021_teste.py
1254_gpt.py
1254_teste.py
2137_gpt.py
2137_teste.py
1258_gpt.py
1258_teste.py
imc.py
/testes/
ui.py
